*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.controle {
    width: 80vw;
    margin: 10vh auto 0;
    background: #ccc;
    border: 2px solid #333;
    padding: 1em;
    border-radius: 8px 8px 0 0;
    display: flex;
    
} 

header{
    
}
.titulo {
    margin: 0px;
    flex-grow: 1;
}
.adicionar {
  width: 10px;
  background-color: blue;
}
.busca {

}
.conteudo{
    width: 80vw;
    margin:0 auto 10vh;
    padding: 1em;
    background: #eee;
    border: 2px solid #333;
    border-top: none;
    border-radius: 0 0 15px 15px;
    border-collapse: collapse;
}
.conteudo th .conteudo td{
    text-align: left;
    padding-left: 5px;
    padding: 5px 10px 5px 0;
}
.topico{
   
    color:#eee
}
.topico th{
    background-color: #333;
    text-align: left;
}

.conteudo tr:nth-child(odd){
    background-color:#eee;
}
.conteudo tr:nth-child(even){
    background-color: #ccc;
}